

@font-face {
    font-family: "sunrise";
    src:
        url("../../assets/fonts/blackout_sunrise.otf") format("otf"),
        url("../../assets/fonts/blackout_sunrise.ttf") format("ttf");
}

@font-face {
    font-family: "future";
    src:
        url("../../assets/fonts/future.ttf") format("ttf");
}

@font-face {
    font-family: "secrcode";
    src:
        url("../../assets/fonts/secrcode.ttf") format("ttf");
    font-weight: 500;
}


@font-face {
    font-family: "strlit";
    src:
        url("../../assets/fonts/strlit.ttf") format("ttf");
}