$primary-black: #090C02;
$secondary-eerieblack: #181818;

$primary-gray: #7A7A7A;
$secondary-silver: #c2c2c2;


$zero : 0;

$padding-8 : 8px;
$padding-16 : 18px;
$padding-24 : 24px;


$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
